@keyframes opacity{
    from{
        opacity: 0;
        transform: rotateY(0deg);
    }
    to{
        opacity: 1;
        transform: rotateY(360deg);
    }
    }

.form-input-control{
    margin: 10px;
}

.form-btn{
    display: inline-flex;
    align-items: center;
    height: 30px;
    margin-top: 10px;
}

.close-btn{
    margin-left: -85px;
}

.submit-btn{
    margin-left: 10px;
    position: absolute;
}

.loader-container, .done-container, .error-container{
    align-content: center;
    display: flex;
    margin-top: 10px;
    text-align: center;
    flex-wrap: wrap;
    height: 250px;
    justify-content: center;
}

.process{
    display: block;
    height: 35px;
    width: 100%;
}

.loader{
    background-image: url(./../assets/loader-blue.gif);
    background-repeat: no-repeat;
    background-size: 100px;
    display: block;
    height: 100px;
    margin-top: 30px;
    width: 25%;
}

.done{
    animation: opacity;
    animation-duration: 1s;
    background-image: url(./../assets/done.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position-x: center;
    height: 100px;
    width: 100%;
}

.error{
    animation: opacity;
    animation-duration: 1s;
    background-image: url(./../assets/error-cross.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position-x: center;
    height: 100px;
    width: 100%;
}