@supports(position:sticky){
    .header{
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
  }

@keyframes underline{
from{
    text-decoration: none;
}
to{
    text-decoration: underline;
    
}
}

.header{
    background-color: transparent;
    width: 100%;
    z-index: 1000;
}

.header-content{
    display: flex;
    align-items: center;
}

.logo{
    margin: 0 30px -10px 35px;
    width: 125px;
}

.register{
    padding-top: 15px;
    position: absolute;
    right: 80px;
    text-align: center;
    width: 10%;
}

.register button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    position: relative;
}

.register button:before{
    content: "";
    background-color: gray;
    height: 1px;
    bottom: 0;
    position: absolute;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.15s ease-in-out;
    width: 100%;
}

.register button:hover:before{
    visibility: visible;
    transform: scaleX(1);
}

.separator{
    border: none;
    background-color: #90E0EF;
    height: 1px;
    width: 80%;
}